.boardlist-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /*This line makes as many columns of size 300 px fit onto the webpage*/
  gap: 50px;
  padding-top: 40px;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 50px;
}
