.board-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 3px;
  background-color: var(--light-brown);
  color: black;
  gap: 10px;
}

.board-card img {
  padding: 15px;
}

.board-card p {
  font-size: x-large;
}

.button-container {
  display: flex;
  gap: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-container button {
  border-style: none;
  border-radius: 4px;
  background-color: var(--mint);
  padding: 9px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-container button:hover {
  transform: scale(
    1.03
  ); /* Grow the button  a little bit so you can notice effect% */
  box-shadow: 0 5px 7px rgba(255, 253, 253, 0.95); /* Add shadow for depth */
  cursor: pointer; /*Change cursor symbol so user nows they can click*/
}

.deletebtn:hover {
  background-color: rgba(240, 70, 70, 0.882);
}
